/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~bootstrap/scss/bootstrap.scss';
@import '~ionicons/dist/css/ionicons.min.css';
@import '~react-datepicker/dist/react-datepicker.css';

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

body {
  background-color: #ececec;
  color: #808080;
  font-size: 1rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

textarea.form-control {
  resize: none;
}

.label-week {
  width: 100%;
  border-radius: 5px 5px 0 0;
  font-size: 0.9rem;
  background: #303030;
  color: #fff;
  margin-bottom: unset;
}

.form-control {
  background-color: #fafafa;
  // border-color: red;
  outline: 0;
}

.form-control:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: unset;
  border-color: #e27248;
  outline: 0;
}

.btn {
  font-weight: 600;
  font-size: 0.8rem;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: unset;
}

.btn-orange {
  color: #fff;
  background-color: #e27248;
  border-color: #e27248;
}

.btn-orange:hover,
.btn-orange.hover {
  color: #fff;
  background-color: #ff7248;
  border-color: #ff7248;
}

.react-datepicker-thisweek {
  background-color: #e27248;
}
.react-datepicker__day {
  margin: 0;
}
.react-datepicker__week:hover,
.react-datepicker__week.hover {
  background-color: #e27248;
  border-radius: 5px;
  color: white;
}

.react-datepicker__week:hover .react-datepicker__day,
.react-datepicker__week.hover .react-datepicker__day {
  background-color: inherit;
  color: white;
}

.react-datepicker__current-month {
  display: none;
}

button:focus,
button.focus {
  outline: unset;
}

.react-datepicker__portal .react-datepicker__navigation--previous {
  border: 0.5rem solid transparent;
  border-right-color: #ccc;
}

.react-datepicker__portal .react-datepicker__navigation--previous:focus {
  box-shadow: unset;
}
.react-datepicker__portal .react-datepicker__navigation--next {
  border: 0.5rem solid transparent;
  border-left-color: #ccc;
}

/*
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
*/
